#ac_background.ac_background
  .ac_loading
#ac_content.ac_content
  %h1
    %span> JSorce
    Construction
    %span.phone> (801) 673-5852
  .ac_menu
    %ul
      %li
        %a{href: '#'} What we do
        .ac_subitem
          %span.ac_close X
          %h2 Our Story
          %hr
          #our_story.center-text
            %p
              = @story
          %hr
      %li
        %a{href: '#', class: 'see_our_work'} See Our Work
        .ac_subitem.our_work
          %span.ac_close X
          %h2 Photo Gallery
          %hr
          #our_work
            #albums
      %li
        %a{href: '#'} Get a Bid
        .ac_subitem
          %span.ac_close X
          %h2 Bid Form
          %hr
          #bid_content
            %form.form-horizontal#bid_form{action: '/bid_upload', method: 'POST', enctype: 'multipart/form-data'}
              %input{name: 'authenticity_token', type: 'hidden', value: form_authenticity_token}/
              .control-group
                %label.control-label{for: 'full_name'} Full Name
                .controls
                  %input#inputFullName{name: 'full_name', placeholder: 'Full Name', type: 'text', required: true}
              .control-group
                %label.control-label{for: 'email'} Email
                .controls
                  %input#inputEmail{name: 'email', placeholder: 'Email', type: 'email', required: true}
              .control-group
                %label.control-label{for: 'bid_type'} Bid Type
                .controls
                  %select{name: 'bid_type'}
                    %option
                      Service Work
                    %option
                      Remodel
                    %option
                      New Construction
                    %option
                      Other
              .control-group
                %label.control-label{for: 'bid_picture'} Upload a Picture
                .controls
                  %input{name: 'bid_file', type: 'file'}
              .control-group
                %label.control-label{for: 'bid_needs'} Describe Your Needs
                .controls
                  %textarea{name: 'bid_needs', required: true}
              .control-group
                .controls
                  %input{type: 'submit', role: 'button', class: 'btn', value: 'Submit Bid'}
      %li
        %a{href: '#'} Contact/Pay
        .ac_subitem
          %span.ac_close X
          #contact_us_content
            %h2
              Contact / Pay Us
              %span.pointer{value: 'https://www.facebook.com/pages/JSorce-Construction/202138332894'}
                %img.facebook-icon{src: image_path('facebook-icon.png')}
              %h6#hours Hours Of Operation: M-F: 9AM - 6PM
            %hr
            #contact_us
              %h2 We hear you!
              %form.form-horizontal#bid_form{action: '/contact_us', method: 'POST'}
                %input{name: 'authenticity_token', type: 'hidden', value: form_authenticity_token}/
                .control-group
                  %label.control-label{for: 'full_name'} Full Name
                  .controls
                    %input#inputFullName{name: 'full_name', placeholder: 'Full Name', type: 'text', required: true}
                .control-group
                  %label.control-label{for: 'email'} Email
                  .controls
                    %input#inputEmail{name: 'email', placeholder: 'Email', type: 'email', required: true}
                .control-group
                  %label.control-label{for: 'bid_needs'} What can we do for you?
                  .controls
                    %textarea{name: 'contact_question', required: true}
                .control-group
                  .controls
                    %input{type: 'submit', role: 'button', class: 'btn', value: 'Submit'}
            #pay_us
              %h2 Need to pay us?
              %form.form-horizontal
                .control-group
                  %label#pay_us_label.control-label{for: 'payment_amount'} Payment Amount
                  .controls
                    %input{name: 'payment_amount', type: 'text', id: 'payment_amount'}
                    %input#pay_us_button{type: 'image', src: image_path('paypal-button.png')}
.ac_footer
  %a.ac_left.hidden-phone{href: '#'}
    %span Joe Sorce Construction:
    Building Relationships Through Quality For Over 30 years.
  - if admin_signed_in?
    = link_to 'Logout', destroy_admin_session_path, :method => :delete, :class => 'delete'
    .ac_right
    %a{href: '/admin/settings'}
      %span Admin Settings
  - else
    %a.ac_right{href: admin_session_path}
      %span Admin Login
