image-shack-username: username
image-shack-password: password

paypal-username: api username
paypal-password: api password
paypal-signature: api signature

sendgrid-username: username
sendgrid-password: password
sendgrid-domain: domain